<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <!-- Adaugă secțiunea de connectionStrings aici -->
    <connectionStrings>
        <add name="OptiStocConnectionString" 
             connectionString="Server=DESKTOP-H9PP4F6\MSSQLSERVER01;Database=OptiStoc;Trusted_Connection=True;" 
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>
